src/main/resources/schema/hrdg/es.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  
  Event (Show) Schema definition (mnemonic ES)
  John Watson                                   
  22/04/2004                                    
  
  Version 1.0.1  11/02/2005.  Add source attribute to data content. Allow more than one feed source.
  Version 1.0.2  21/03/2005.  Add optional country, refresh and antePost attributes to data content.
  Version 1.0.3  01/07/2005.  Add optional weighedIn (time) to result
  Version 1.0.4  15/07/2005.  Add optional sourceId to meeting/event/selection (the supplier id)
  Version 1.0.5  19/09/2005.  Add various attributes as requested by Ladbrokes.  These include:
                              sportcode and subcode on meeting, courseType, surface, coverageCode, grade and handicap on event,
                              weightStones and weightPounds on selection, new market and rule4 elements,
                              odec marker on root. 
  Version 1.0.6  27/10/2005.  Added event.status and selection.drawn
  Version 1.0.7  08/11/2005.  Added event.runners
  Version 1.0.8  25/01/2006.  Added position.info and position.winningdistance (mostly used for evenming greyhounds)
  Version 1.0.9  27/04/2006.  Deprecated position@num (currently marked as optional - retained for use by iSIS)
  Version 1.0.10 27/07/2006.  Added event.eachWayPlaces; position.winnerstime and trainer and bar
  Version 1.0.11 27/02/2007.  Added further (optional) attributes against selection.  Applies largely to horses - availabale on BHB platform.
  Version 1.0.12 12/07/2007.  Added enumerated type for result settling status
  Version 1.0.13 19/12/2008.  Add sportcode attribute to data.
  Version 1.0.14 28/10/2010.  Removed selection@guaranteedOdds
  
-->
<!-- this is the namespace for horse and greyhound racing -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.satelliteinfo.co.uk/feed/master/hrdg" xmlns:target="http://www.satelliteinfo.co.uk/feed/master/hrdg">
  <xs:include schemaLocation="category.xsd"/>
  <xs:include schemaLocation="country.xsd"/>
  <xs:include schemaLocation="coursetype.xsd"/>
  <xs:include schemaLocation="surface.xsd"/>
  <xs:include schemaLocation="eventclass.xsd"/>
  <xs:include schemaLocation="bettype.xsd"/>
  <xs:include schemaLocation="bool.xsd"/>
  <xs:include schemaLocation="feedsource.xsd"/>
  <xs:include schemaLocation="rule4type.xsd"/>
  <xs:include schemaLocation="settlingstatustype.xsd"/>
  <xs:import schemaLocation="commonattrib.xsd"/>
  <xs:element name="data" type="target:data-content"/>
  <!--
    the root element is always named 'data' 
    within the target namespace (the default namespace)
    ES documents may be generated by sportsDate (as normal) or directly from virtualRacing - see feedsource-enumeration
  -->
  <xs:complexType name="data-content">
    <xs:sequence>
      <xs:element ref="target:meeting"/>
    </xs:sequence>
    <xs:attributeGroup ref="common-root-attributes"/>
    <xs:attribute name="mnem" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ES"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="name" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="event"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="odec" use="required" type="target:bool-enumeration"/>
    <xs:attribute name="country" use="required" type="target:country-enumeration"/>
    <xs:attribute name="sportcode"/>
  </xs:complexType>
  <xs:element name="meeting" type="target:meeting-content"/>
  <!-- a meeting -->
  <xs:complexType name="meeting-content">
    <xs:sequence>
      <xs:element ref="target:event"/>
    </xs:sequence>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="code" use="required"/>
    <xs:attribute name="country" use="required" type="target:country-enumeration"/>
    <xs:attribute name="date" use="required" type="xs:date"/>
    <xs:attribute name="coverageCode"/>
    <xs:attribute name="going"/>
    <xs:attribute name="status"/>
    <xs:attribute name="sportcode"/>
    <xs:attribute name="subcode"/>
    <xs:attribute name="sourceId"/>
  </xs:complexType>
  <xs:element name="event" type="target:event-content"/>
  <!-- a race -->
  <xs:complexType name="event-content">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="target:selection"/>
      <xs:element ref="target:bar"/>
      <xs:element ref="target:result"/>
      <xs:element maxOccurs="unbounded" ref="target:racebet"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="target:market"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="distance" use="required"/>
    <xs:attribute name="num" use="required" type="xs:integer"/>
    <xs:attribute name="placesExpected" use="required" type="xs:integer"/>
    <xs:attribute name="eachWayPlaces" use="required" type="xs:integer"/>
    <xs:attribute name="time" use="required" type="xs:time"/>
    <xs:attribute name="pmsg"/>
    <xs:attribute name="status"/>
    <xs:attribute name="progressCode"/>
    <xs:attribute name="going"/>
    <xs:attribute name="offTime" type="xs:time"/>
    <xs:attribute name="courseType" type="target:coursetype-enumeration"/>
    <xs:attribute name="surface" type="target:surface-enumeration"/>
    <xs:attribute name="handicap" type="target:bool-enumeration"/>
    <xs:attribute name="coverageCode"/>
    <xs:attribute name="grade"/>
    <xs:attribute name="runners" type="xs:integer"/>
    <xs:attribute name="sourceId"/>
  </xs:complexType>
  <xs:element name="selection" type="target:selection-content"/>
  <xs:element name="bar" type="target:bar-content"/>
  <xs:element name="result" type="target:result-content"/>
  <xs:element name="racebet" type="target:racebet-content"/>
  <xs:element name="market" type="target:market-content"/>
  <!-- a runner -->
  <xs:complexType name="selection-content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="target:price"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="num" use="required" type="xs:integer"/>
    <xs:attribute name="status" use="required"/>
    <xs:attribute name="jockey"/>
    <xs:attribute name="reservename"/>
    <xs:attribute name="claiming"/>
    <xs:attribute name="sourceId"/>
    <xs:attribute name="weightStones" type="xs:integer"/>
    <xs:attribute name="weightPounds" type="xs:integer"/>
    <xs:attribute name="coupled"/>
    <xs:attribute name="drawn"/>
    <xs:attribute name="uniqueId"/>
    <xs:attribute name="wide" type="target:bool-enumeration"/>
    <xs:attribute name="age" type="xs:integer"/>
    <xs:attribute name="trainer"/>
    <xs:attribute name="lastRuns"/>
    <xs:attribute name="silk"/>
    <xs:attribute name="silkFile"/>
  </xs:complexType>
  <xs:element name="price">
    <xs:complexType>
      <xs:attributeGroup ref="target:price-content"/>
    </xs:complexType>
  </xs:element>
  <!-- a bar price -->
  <xs:complexType name="bar-content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="target:price"/>
    </xs:sequence>
  </xs:complexType>
  <!-- a race result -->
  <xs:complexType name="result-content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="target:position"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="comments"/>
    <xs:attribute name="favouritenews"/>
    <xs:attribute name="message"/>
    <xs:attribute name="nonrunners" type="xs:integer"/>
    <xs:attribute name="ran" type="xs:integer"/>
    <xs:attribute name="settlingstatus" type="target:settlingstatus-enumeration"/>
    <xs:attribute name="statuscode"/>
    <xs:attribute name="weighedIn" type="xs:time"/>
  </xs:complexType>
  <xs:element name="position" type="target:position-content"/>
  <!-- a race bet (forecast, tricast, exacta etc) -->
  <xs:complexType name="racebet-content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="target:betplace"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="bettype" use="required" type="target:bettype-enumeration"/>
    <xs:attribute name="instance" type="xs:integer"/>
    <xs:attribute name="amount" type="xs:decimal"/>
    <xs:attribute name="type"/>
  </xs:complexType>
  <xs:element name="betplace">
    <xs:complexType>
      <xs:attributeGroup ref="target:betplace-content"/>
    </xs:complexType>
  </xs:element>
  <!-- a placed runner within a race bet -->
  <xs:attributeGroup name="betplace-content">
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="amount" use="required" type="xs:decimal"/>
    <xs:attribute name="position" use="required" type="xs:integer"/>
    <xs:attribute name="selectionid" use="required" type="xs:integer"/>
  </xs:attributeGroup>
  <!-- a runner's odds -->
  <xs:attributeGroup name="price-content">
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="dec" use="required" type="xs:decimal"/>
    <xs:attribute name="fract" use="required"/>
    <xs:attribute name="mktnum" use="required" type="xs:integer"/>
    <xs:attribute name="mkttype" use="required"/>
    <xs:attribute name="time" use="required" type="xs:time"/>
    <xs:attribute name="timestamp" use="required" type="xs:integer"/>
  </xs:attributeGroup>
  <!-- a result position -->
  <xs:complexType name="position-content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="target:photoselection"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="num" type="xs:integer"/>
    <xs:attribute name="position" use="required" type="xs:integer"/>
    <xs:attribute name="runnernumber" use="required" type="xs:integer"/>
    <xs:attribute name="sp" use="required"/>
    <xs:attribute name="photo" use="required" type="target:bool-enumeration"/>
    <xs:attribute name="selectionref" type="xs:integer"/>
    <xs:attribute name="fav"/>
    <xs:attribute name="deadheat"/>
    <xs:attribute name="info"/>
    <xs:attribute name="winningdistance"/>
    <xs:attribute name="trainer"/>
    <xs:attribute name="winnersTime" type="xs:time"/>
  </xs:complexType>
  <xs:element name="photoselection">
    <xs:complexType>
      <xs:attributeGroup ref="target:photoselection-content"/>
    </xs:complexType>
  </xs:element>
  <!-- a photo finish for a result place -->
  <xs:attributeGroup name="photoselection-content">
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="name" use="required"/>
    <xs:attribute name="num" use="required" type="xs:integer"/>
    <xs:attribute name="selectionid" use="required" type="xs:integer"/>
  </xs:attributeGroup>
  <!-- a betting market -->
  <xs:complexType name="market-content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="target:rule4"/>
    </xs:sequence>
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="mktnum" use="required" type="xs:integer"/>
    <xs:attribute name="mkttype" use="required"/>
    <xs:attribute name="supplier" use="required"/>
    <xs:attribute name="time" use="required" type="xs:time"/>
    <xs:attribute name="fieldmoney" type="xs:decimal"/>
  </xs:complexType>
  <xs:element name="rule4">
    <xs:complexType>
      <xs:attributeGroup ref="target:rule4-content"/>
    </xs:complexType>
  </xs:element>
  <!-- a rule4 withdrawal -->
  <xs:attributeGroup name="rule4-content">
    <xs:attribute name="id" use="required" type="xs:integer"/>
    <xs:attribute name="selectionref" use="required" type="xs:integer"/>
    <xs:attribute name="deduction" use="required" type="xs:integer"/>
    <xs:attribute name="runnerDeduction" type="xs:integer"/>
    <xs:attribute name="time" type="xs:time"/>
    <xs:attribute name="type" use="required" type="target:rule4type-enumeration"/>
  </xs:attributeGroup>
</xs:schema>
